.footer {
  background-color: $color-grey;
  padding: 4rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // width: 100%;
  // overflow-x: hidden;

  &__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.2rem;

    &--column {
      list-style: none;
      margin: 2rem;
      line-height: 3rem;
      margin-right: 5rem;

      &--head {
        font-weight: 700;
      }
      &--sub {
      }

      &--email {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0rem;

        &--emailaddress {
          font-family: inherit;
          background-color: rgba($color: $color-white, $alpha: 0.5);
          padding: 1rem 4rem;
          outline: none;
          border: none;
        }
        &--send {
          background-color: $color-yellow;
          padding: 1rem;
        }
      }

      &--social {
        display: flex;
        align-items: center;
        margin: 1rem 0rem;

        &--icon {
          // background-color: $color-white;
          background-color: $color-black;
          padding: 1rem;
          margin: 0.5rem;
        }
      }
    }
  }
  
  &__down {
    margin-top: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &--left {

    }
    &--right {
      
    }
    
  }
}
