.afterBanner {
  &__cards {
    // border: 3px solid red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &--card {
      background-color: $color-yellow-light-1;
      width: 25rem;
      height: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0.5rem;
      position: relative;

      &--text {
        color: $color-black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        text-align: center;
        font-weight: 800;
        font-size: 80%;
        margin-top: 4rem;
        margin-left: 2rem;
        position: absolute;

        &--span {
          font-size: 80%;
          font-weight: 400;
        }
      }
      &--icon {
        background-color: $color-yellow-2;
        padding: 1rem;
        position: absolute;
        top: 0;
        left: 2;
      }
    }
  }

  &__rewardsBadge {
    margin: 2rem 0;
  }
}
