.beforeFooter {
  margin: 4rem 0rem;
  box-sizing: border-box;

  &__cards {
    color: $color-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    // justify-content: center;

    &--card {
      position: relative;
      width: 60rem;
      margin: 1rem;
      background-color: $color-black;

      &--image {
        width: 100%;
        opacity: 70%;
      }

      &--text {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        font-size: 2rem;

        &--big {
          font-weight: 700;
        }
        &--small {
        }
        &--socials {
          display: flex;
          margin: 1rem 0rem;

          &--icon {
            background-color: $color-white;
            padding: 1rem;
            margin: 0.5rem;
          }
        }
      }
    }
  }
}
