.beforeFooter {
  margin: 4rem 0rem;

  &__cards {
    color: $color-white;
    display: flex;
    // justify-content: center;

    &--card {
      position: relative;
      width: 50rem;
      margin: 0rem 2rem;
      background-color: $color-black;

      &--image {
        width: 100%;
        opacity: 70%;
      }

      &--text {
        position: absolute;
        bottom: 2rem;
        left: 2rem;

        &--big {
          font-weight: 700;
        }
        &--small {
        }
        &--socials {
          display: flex;
          margin: 1rem 0rem;

          &--icon {
            background-color: $color-white;
            padding: 1rem;
            margin: 0.5rem;
          }
        }
      }
    }
  }
}
