.otherCollections {
  margin: 4rem 0rem;

  &__heading {
    font-size: 3rem;
    font-weight: 800;
    margin: 4rem 2rem;
  }

  &__cards {
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;

    &--card {
      position: relative;
      margin: 0.5rem;

      &--image {
        &--blur {
          z-index: 1000;
          position: absolute;
          bottom: 0;
          left: 0;
          color: $color-white;
          display: flex;
          align-items: center;
          background-color: coral;
          width: 100%;
          padding: 1rem 0;
          &--text {
            margin-left: 2rem;
            border: 3px solid red;
          }
          &--icon {
            padding: 2rem;
            background-color: $color-yellow;
            border: 3px solid red;
          }
        }
      }
    }
  }
}
