.popularShirts {
  &__text {
    font-size: 3rem;
    margin: 4rem;
    font-weight: 800;
  }
  &__cards {
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0rem;

    &--card {
      border: $thin-border;
      margin: 0.2rem;
      position: relative;

      &--photo {
        position: relative;

        &--image {
          // position: absolute;
        }
        &--green {
          position: absolute;
          left: 2rem;
          bottom: 2rem;
          background-color: $color-green-2;
          color: $color-white;
          padding: 0.4rem 1rem;
        }
      }

      &--text {
        margin: 0.6rem 0rem 2rem 1.3rem;
        &--name {
        }
        &--price {
          display: flex;
          align-items: center;

          &--main {
            font-weight: bolder;
          }
          &--sub {
            color: $color-red;
            text-decoration: line-through;
            font-size: 1.2rem;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
