// global definitions about the proj
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;

  // overflow-x: hidden;
}

html {
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  body {
    width: 100%;
    margin: 2rem;
    // background-color: lightgray;
    // width: 70rem;
  }

  // !!!!!!!!!!!!!!!!!!!!
  // 400px
  @media (max-width: 25em) {
    // 400px
    .header {
      // background-color: red;

      &__top {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        padding: 1rem;
        position: relative;
        font-size: 70%;

        &--language {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &--chat {
          background-color: #25d366;
          padding: 0.5rem;
        }
      }

      &__second {
        // border: 3px solid red;
        position: relative;
        &--total {
          // border: 3px solid red;
          display: flex;
          // margin-left: 4rem;
          // position: absolute;
          justify-content: space-between;
          &--top {
            &--icons {
              display: flex;
              // border: 3px solid red;
              justify-content: space-around;
              align-items: center;

              &--shopping {
                margin: 0 3rem;
              }
              &--user {
              }
            }
          }

          &--down {
            display: none;
          }
        }
      }
    }
    .banner {
      &__image {
        // width: 0%;
        right: 4rem;
        // zoom in the image into the yellow jersey
        // border: 3px solid red;
        // transform: scale(2);
        // margin: 2rem;
      }
      &__text {
        top: 1rem;
        left: 1rem;

        &--customized {
          font-size: 1.4rem;
        }
        &--jerseys {
          font-size: 1.4rem;
        }
      }
      &__shop {
        border: 2px solid #fff;

        &--text {
          font-size: 1rem;
          font-weight: 800;
        }
        &--bag {
        }
      }
    }

    // after banner
    // !!!!!!!!!!!!!!!!
    .afterBanner {
      &__cards {
        // border: 3px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;

        &--card {
          width: 18rem;
          height: 8rem;
          margin: 0.5rem auto;

          &--text {
            display: flex;
            font-size: 90%;
            // border: 2px solid red;

            &--span {
              font-size: 80%;
              font-weight: 400;
            }
          }
        }
      }

      &__rewardsBadge {
        margin: 2rem 0;
      }
    }

    // most popular
    .popularShirts {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__text {
        display: flex;
        flex-direction: row;
      }

      &__cards {
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &--card {
          // border: 2px solid rebeccapurple;
        }
      }
      &__cards:first-child {
        margin-left: 1rem;
      }
    }

    // country leagues
    .countryLeagues {
      margin: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;

      &__heading {
        font-weight: 800;
        margin: 4rem 0rem;
      }

      &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &--card {
          margin: 0.6rem;
          // width: 100%;
          // border: 3px solid red;
          &--image {
          }
          &--name {
            font-weight: 700;
            margin: 0.6rem 0rem;
          }
        }
      }
    }

    .otherCollections {
      &__cards {
        align-items: center;
        justify-content: center;

        &--card {
          width: 36rem;
        }
      }
    }

    .beforeFooter {
      &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--card {
          display: flex;
          margin: 1rem 0rem;
          width: 36rem;

          &--text {
            font-size: 1.2rem;
          }
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      // background-color: orange;
      // border: 3px solid red;
      &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // position: relative;
        // width: 90%;

        &--left {
          // border: 3px solid red;
          font-size: 1.2rem;
        }
        &--right {
          // border: 3px solid red;
          // position: absolute;
        }
      }
    }

    // !!!!!!!!!!!!!!!!!
    // description
    .description {
      // border: 3px solid red;

      &__images {
        &--big {
          // width: 100%;
        }
        &--smalls {
          justify-content: space-between;
          // width: 100%;

          &--small {
            &--active {
              margin: 0.2rem;
            }
            &--notActive {
              margin: 0.2rem;
            }
          }
        }
      }

      // text
      // !!!!!!!!!!!!!!!!!!!!!!!!!!!
      &__text {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        &--top {
          margin: 2rem 0rem;

          &--heading {
            font-size: 95%;
          }
          &--pricing {
            font-size: 95%;

            &--main {
              font-size: 2.5rem;
            }
            &--discount {
              margin: 0rem 0.8rem;
            }
            &--save {
              padding: 0.5rem 2rem;
              font-size: 70%;
            }
            &--favorites {
              font-size: 80%;
              // border: $thin-border;
              padding: 0.5rem 1.5rem;
              margin-left: 1rem;
            }
          }
        }

        &--second {
          line-height: 2rem;
        }

        &--input {
          position: relative;
          &--field {
            margin-bottom: 1.5rem;
            margin-right: 1rem;

            &--label {
              font-size: 70%;
              font-weight: 600;
              &--star {
                font-weight: 600;
                font-size: 1.6rem;
              }
            }
            &--chart {
              padding: 1rem 1rem;
              text-align: center;
              font-size: 70%;
              font-weight: 600;
            }
            &--form {
            }
          }
        }
      }

      // !!!!!!!!!!!!!!!!!!!!!!
      // cart
      &__cart {
        &--text {
          font-size: 70%;
        }
        &--icon {
        }
      }
    }
  }

  // !!!!!!!!!!!!!!!!!!!!!!!!
  // 600px
  @media (max-width: 37.5em) {
    // 600px

    .header {
      &__top {
        font-size: 1rem;
      }
      &__second {
        &--yellow {
          display: none;
        }
        &--total {
          &--top {
            // border: 3px solid red;

            &--category {
              display: none;
            }
            &--input {
              &--searchBox {
                display: none;
              }
              &--button {
                display: none;
              }
              &--icon {
              }
            }
            &--icons {
              display: flex;
              justify-content: space-around;
              align-items: center;

              &--shopping {
                margin: 0 3rem;
              }
              &--user {
              }
            }
          }

          &--down {
            display: none;
          }
        }
      }
    }

    // before footer
    .beforeFooter {
      &__cards {
        width: 95vw;

        &--card {
          display: flex;
          margin: 1rem 0rem;
          width: 40rem;

          &--text {
            font-size: 1.2rem;
          }
        }
      }
    }

    .banner {
      &__image {
        // width: 0%;
        right: 4rem;
        // zoom in the image into the yellow jersey
      }
      &__text {
        font-size: 2rem;
        top: 2rem;
        left: 2rem;
      }
      &__shop {
        font-size: 1.4rem;
        position: absolute;
        right: 2rem;
        bottom: 2rem;
      }
    }

    // after banner
    // !!!!!!!!!!!!!!!!
    .afterBanner {
      &__cards {
        // border: 3px solid red;
        justify-content: space-around;

        &--card {
          width: 16rem;
          height: 8rem;
          margin: 0.5rem auto;

          &--text {
            display: flex;
            font-size: 90%;
            // border: 2px solid red;

            &--span {
              font-size: 80%;
              font-weight: 400;
            }
          }
        }
      }

      &__rewardsBadge {
        margin: 2rem 0;
      }
    }
    .popularShirts {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__text {
        display: flex;
        flex-direction: column;
      }

      &__cards {
        display: flex;
        justify-content: center;

        &--card {
          margin: 1rem;
        }
      }
    }

    // country leagues
    .countryLeagues {
      margin: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;

      &__heading {
        font-weight: 800;
        margin: 4rem 0rem;
      }

      &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &--card {
          margin: 0.6rem;
          // width: 100%;
          // border: 3px solid red;
          &--image {
          }
          &--name {
            font-weight: 700;
            margin: 0.6rem 0rem;
          }
        }
      }
    }

    .otherCollections {
      &__cards {
        align-items: center;
        justify-content: center;

        &--card {
          width: 40rem;
        }
      }
    }

    .beforeFooter {
      &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--card {
          margin: 1rem 0rem;
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      &__column {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      &__down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // border: 3px solid red;

        &--right {
        }
        &--left {
        }
      }
    }
  }

  // // 900px
  // @media (max-width: 56.25em) {
  //   @content;
  // }

  // // 1200px
  // @media (max-width: 75em) {
  //   @content;
  // }

  // // 1800px
  // @media (min-width: 112.5em) {
  //   @content;
  // }
}
